body {
  background-color: #ddb892;
  color: #9c6644;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.App header {
  padding: 10px 0px 10px 0px;
  background-color: #e6ccb2;
  margin: 0px;
  font-size: 50px;
  border: 20px solid #7f5539;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
p {
  font-size: 20px;
}
section.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-image: radial-gradient(cyan, rgb(3, 190, 190));
  height: 50px;
  width: 50px;
  border: 2px solid rgb(3, 190, 190);
  font-size: 25px;
}
select {
  height: 50px;
  width: 50vw;
  font-size: 40px;
}
section.display_boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
section.info {
  margin: 5px 0px 0px 5px;
  width: 95vw;
  border: 10px solid #7f5539;
  background-color: #e6ccb2;
}
h2 {
  font-size: 40px;
  margin: 0px;
  padding: 20px;
  border-bottom: 5px solid #b08968;
  grid-column: 1 / span 2;
}
h3 {
  font-size: 30px;
  padding: 20px;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 20px solid #7f5539;
  background-color: #e6ccb2;
  margin-top: 20px;
  bottom: 0;
  width: 100vw;
}
p {
  padding: 0px 20px 0px 20px;
}
p.background {
  grid-column: 1 / span 2;
}

div.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
